COPART_TELEGRAM_BOT_TOKEN=put-your-copart-bot-token-here
COPART_TELEGRAM_CHAT_ID=put-your-copart-chat-id-here
TELEGRAM_BOT_TOKEN=put-your-iaai-bot-token-here
TELEGRAM_CHAT_ID=put-your-iaai-chat-id-here

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL_DAYS=7

